
/* Your CSS Code here. */
table {
    width: 100%;
  }
  th {
    background-color: darkred; /* This will give a light grey background color to your table headers */
  }
  tr:nth-child(1) {
    background-color: lightcoral; /* This will give a light grey background color to every even row */
  }
  tr:nth-child(2) {
    background-color: lightpink; /* This will give a light grey background color to every even row */
  }
  tr:nth-child(3) {
    background-color: lightgray; /* This will give a light grey background color to every even row */
  }